<div>
  <p><strong>Project Design Document</strong></p>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 2.50833in" />
  </p>
  <p>Name of Project Participant</p>
  <table style="width: 100%">
    <colgroup>
      <col style="width: 29%" />
      <col style="width: 69%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="2"><strong>Project Details</strong></th>
      </tr>
      <tr>
        <th><strong>Project title</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Project participant</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Co-project participant</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Project owner</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Project location</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Coordinates of project location</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Project type</strong></th>
        <th style="text-align: left">
          <table style="width: 67%">
            <colgroup>
              <col style="width: 67%" />
            </colgroup>
            <thead>
              <tr>
                <th> Renewable energy of fossil fuel replacement</th>
              </tr>
              <tr>
                <th>
                   Improvement of the efficiency of electricity and heat
                  generation
                </th>
              </tr>
              <tr>
                <th> Use of public transportation system</th>
              </tr>
              <tr>
                <th> Use of electric vehicle</th>
              </tr>
              <tr>
                <th> Improvement of the efficiency of engine</th>
              </tr>
              <tr>
                <th>
                   Improvement of the efficiency of energy consumption in
                  building and factory and in household
                </th>
              </tr>
              <tr>
                <th> Use of natural refrigerant</th>
              </tr>
              <tr>
                <th> Use of clinker substitute</th>
              </tr>
              <tr>
                <th> Solid waste management</th>
              </tr>
              <tr>
                <th> Domestic wastewater management</th>
              </tr>
              <tr>
                <th> Methane recovery and utilization</th>
              </tr>
              <tr>
                <th> Industrial wastewater management</th>
              </tr>
              <tr>
                <th>
                   Reduction, absorption and removal of greenhouse gases from
                  the forestry and agriculture sectors
                </th>
              </tr>
              <tr>
                <th>
                   Capture, storage, and/or utilization of greenhouse gas
                </th>
              </tr>
              <tr>
                <th>
                   Other
                  .......................................................................................
                </th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </th>
      </tr>
      <tr>
        <th><strong>Project model</strong></th>
        <th>
          <p> Single project</p>
          <p> Bundled project</p>
        </th>
      </tr>
      <tr>
        <th><strong>Project size</strong></th>
        <th>
          <p> Micro scale</p>
          <p> Small scale</p>
          <p> Large scale</p>
        </th>
      </tr>
      <tr>
        <th><strong>T-VER methodology and tools</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Project activity</strong></th>
        <th><u>Summary of project activity</u></th>
      </tr>
      <tr>
        <th><strong>Project investment cost</strong></th>
        <th><u>&lt;amount of investment cost&gt; MTHB</u></th>
      </tr>
      <tr>
        <th>
          <strong>Estimated Greenhouse Gas Emission Reductions/Removals</strong>
        </th>
        <th>
          <u>&lt;amount of GHG emissions/removal&gt;</u> tCO<sub>2</sub>eq/y
        </th>
      </tr>
      <tr>
        <th><strong>Crediting period</strong></th>
        <th>
          <p> 5 years</p>
          <p> 15 years</p>
          <p> others years</p>
          <p><u>&lt;start date − end date&gt;</u></p>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 20%" />
      <col style="width: 18%" />
      <col style="width: 59%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="3"><strong>Details of report preparation</strong></th>
      </tr>
      <tr>
        <th>Finish date</th>
        <th colspan="2">&lt;Date&gt;</th>
      </tr>
      <tr>
        <th>Version</th>
        <th colspan="2">&lt;Version number&gt;</th>
      </tr>
      <tr>
        <th>Name of reporter</th>
        <th>Name</th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>Position</th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>Organization</th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th>Telephone</th>
        <th></th>
      </tr>
      <tr>
        <th colspan="3">
          <strong>Validation and Verification Body (VVB)</strong>
        </th>
      </tr>
      <tr>
        <th>Name of VVB</th>
        <th colspan="2"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 22%" />
      <col style="width: 76%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">
          <strong>Details of the project participant</strong> (In case there is
          more than 1 project participant, please add the list of names)
        </th>
      </tr>
      <tr>
        <th>Project participant</th>
        <th></th>
      </tr>
      <tr>
        <th>Contact person</th>
        <th></th>
      </tr>
      <tr>
        <th>Position</th>
        <th></th>
      </tr>
      <tr>
        <th>Address</th>
        <th></th>
      </tr>
      <tr>
        <th>Telephone</th>
        <th></th>
      </tr>
      <tr>
        <th>Fax</th>
        <th></th>
      </tr>
      <tr>
        <th>E-mail</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>Content</strong></p>
  <blockquote>
    <p><strong>Page</strong></p>
  </blockquote>
  <p>Part 1 Project Information X</p>
  <p>Part 2 Methodology</p>
  <p>Part 3 Calculation of emission reductions</p>
  <p>Part 4 Monitoring of projects</p>
  <p>Part 5 Local Stakeholder Consultation</p>
  <p>Appendix</p>
  <p>Appendix 1 Additionality</p>
  <p>Appendix 2 Stakeholder Consultation Summary Report for the Project</p>
  <p>Appendix 3 Supporting documents/evidence</p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 98%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Part 1: Project Information</strong></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>1.1 Project Information</strong></p>
  <p>
    <em
      >Description of project details for providing overview and benefits of the
      project activity. The details might be included:</em
    >
  </p>
  <ul>
    <li>
      <p><em>Objectives of the project activities</em></p>
    </li>
    <li>
      <p>
        <em
          >Brief description of the organization’s activities related to the
          project</em
        >
      </p>
    </li>
    <li>
      <p>
        <em>Operation prior to the implementation of the T-VER project.</em>
      </p>
    </li>
    <li>
      <p>
        <em
          >Greenhouse gas reduction activities, sources and quantities of raw
          materials, and number of the operation days of the project.</em
        >
      </p>
    </li>
    <li>
      <p><em>Expected amount of greenhouse gas emissions/removal</em></p>
    </li>
  </ul>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 1.10556in" />
  </p>
  <p><strong>1.2 Project Boundary</strong></p>
  <ul>
    <li>
      <p>
        <em
          >Description of details of technology and key equipment (e.g.,
          features of the technology, producers, efficiency, production
          capacity, quantities of installed equipment, etc.) within the project
          boundary.</em
        >
      </p>
    </li>
    <li>
      <p>
        <em
          >Description of the scope of the project’s operation and the legal
          entities involved in the implementation.</em
        >
      </p>
    </li>
    <li>
      <p><em>Project Boundary</em> and schematic diagram</p>
    </li>
  </ul>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 1.42222in" />
  </p>
  <p><strong>1.3 Double Counting</strong></p>
  <blockquote>
    <p>
      Demonstrate that the project activities are not redundant with activities
      under other national and international greenhouse gas standards.
    </p>
    <p>
      The project activity in this project used to register or in the process of
      registering other carbon other international climate mitigation mechanisms
      such as Development Mechanism (CDM), Voluntary Carbon Standard (VCS), Gold
      Standard etc. or Renewable Energy Certificates (REC)
    </p>
    <p>🗌 No</p>
    <p>🗌 Yes</p>
    <p>Project Title</p>
    <p>Scheme</p>
    <p>Crediting period that is issued</p>
  </blockquote>
  <p><strong>1.4 Additionality</strong></p>
  <ul>
    <li>
      <p>Define the regulations relevant with the project’s operation.</p>
    </li>
    <li>
      <p>
        Demonstrate and assess the additionality of the project, in accordance
        with the applied methodology and any relevant tools.
      </p>
    </li>
    <li>
      <p>
        The assessment methodology and evidences for supporting have to be
        attached in the appendix.
      </p>
    </li>
  </ul>
  <p><strong>1.5 Crediting Period</strong></p>
  <p>
    Project start date Define the date (day/month/year) in accordance with the
    provisions of the T-VER methodology and provide the corresponding reasons.
  </p>
  <p> 5 years</p>
  <p> 15 years</p>
  <p> others years</p>
  <p>
    <strong>1.6 Document or Certificate of Land Use Rights</strong> (For
    Reduction, absorption and removal of greenhouse gases from the forestry and
    agriculture sectors)
  </p>
  <p>- Identification document or certificate of land use rights.</p>
  <p>- Identification boundaries of plantation.</p>
  <p>- Identification the relevant regulation for project.</p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 98%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Part 2 T-VER Methodology</strong></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>
    <strong
      ><br />
      2.1 T-VER Methodology and Tools</strong
    >
  </p>
  <p>
    <em
      >Provide the details; code, version and title of the methodology or tools
      applied to the project. Project participant can apply more than 1
      methodology; however, it has to be in accordance with the provisions in
      the T-VER methodology.</em
    >
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 7%" />
      <col style="width: 28%" />
      <col style="width: 10%" />
      <col style="width: 52%" />
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center"><strong>No.</strong></th>
        <th style="text-align: center"><strong>Methodology Code</strong></th>
        <th style="text-align: center"><strong>Version</strong></th>
        <th style="text-align: center">
          <strong>Title of methodology/tool</strong>
        </th>
      </tr>
      <tr>
        <th style="text-align: center">1</th>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">2</th>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>2.2 Project Conditions</strong></p>
  <ul>
    <li>
      <p>
        <em
          >Description how the project activities meets each of the
          applicability conditions of the methodology, and tools applied by the
          project and attach evidence for supporting in appendix</em
        >
      </p>
    </li>
    <li>
      <p>
        <em
          >If the project use more 1 Methodology Please identify reason for each
          methodology</em
        >
      </p>
    </li>
  </ul>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 49%" />
      <col style="width: 49%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="2">
          <strong>Code:</strong> &lt;Specify the code of methodology&gt;
        </th>
      </tr>
      <tr>
        <th colspan="2"><strong>Version:</strong> &lt;Specify version&gt;</th>
      </tr>
      <tr>
        <th colspan="2">
          <strong>Methodology/tool:</strong> &lt;Methodology name&gt;
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Project Conditions</strong></th>
        <th style="text-align: center">
          <strong>Justification/Explanation</strong>
        </th>
      </tr>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><em>(Include table for others Methodology)</em></p>
  <p>
    <strong>2.3</strong>
    <strong
      >Relevant information for calculating greenhouse gas emissions</strong
    >
  </p>
  <p>
    <em
      >Identify the type of the GHG and provide detailed descriptions of the
      project activities that align with the relevant GHG sources, sinks, and
      reservoirs for the baseline, project operation, and leakage scenarios.</em
    >
  </p>
  <p><strong>Relevant greenhouse gas sources for calculation</strong></p>
  <table style="width: 98%">
    <colgroup>
      <col style="width: 23%" />
      <col style="width: 17%" />
      <col style="width: 57%" />
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center"><strong>Emission Source</strong></th>
        <th style="text-align: center">
          <strong>Type of Greenhouse Gas</strong>
        </th>
        <th style="text-align: center"><strong>Detail of activity</strong></th>
      </tr>
      <tr>
        <th colspan="3">Baseline Emission</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th style="text-align: left"></th>
      </tr>
      <tr>
        <th colspan="3">Project Emission</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th colspan="3">Leakage Emission</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>
    <strong>Carbon and greenhouse gas sequestration for calculation</strong>
  </p>
  <table style="width: 98%">
    <colgroup>
      <col style="width: 23%" />
      <col style="width: 17%" />
      <col style="width: 57%" />
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center">
          <strong>Carbon Sequestration</strong>
        </th>
        <th style="text-align: center">
          <strong>Type of Greenhouse Gas</strong>
        </th>
        <th style="text-align: center"><strong>Detail of activity</strong></th>
      </tr>
      <tr>
        <th colspan="3">Baseline Sequestration</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th style="text-align: left"></th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th style="text-align: left"></th>
      </tr>
      <tr>
        <th colspan="3">Project Sequestration</th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th style="text-align: center"></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 98%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Part 3 Calculation of greenhouse gas reduction</strong></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>3.1 Calculation of baseline sequestration/emission</strong></p>
  <ul>
    <li>
      <p>The calculation equation is based on the methodology and tools.</p>
    </li>
    <li>
      <p>
        If the project used methodology more than 1, please show calculation
        separate by applied methodology and tool.
      </p>
    </li>
  </ul>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 14%" />
      <col style="width: 40%" />
      <col style="width: 17%" />
      <col style="width: 14%" />
      <col style="width: 12%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="5"><strong>Code:</strong> TVER-P-METH-01-01</th>
      </tr>
      <tr>
        <th colspan="5"><strong>Version:</strong> 01</th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Methodology/tools:</strong> Grid Connected Renewable
          Electricity Generation
        </th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Equation:</strong> BE<sub>y</sub> = EG<sub>PJ,y</sub> x EF<sub
            >grid,y</sub
          >
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Parameter</strong></th>
        <th style="text-align: center"><strong>Meaning</strong></th>
        <th style="text-align: center"><strong>Ref</strong></th>
        <th style="text-align: center"><strong>Value</strong></th>
        <th style="text-align: center"><strong>Unit</strong></th>
      </tr>
      <tr>
        <th style="text-align: left">
          <em>BE<sub>y</sub></em>
        </th>
        <th style="text-align: left"><em>Baseline emission in year y</em></th>
        <th style="text-align: center"><em>Calculation</em></th>
        <th style="text-align: center"></th>
        <th style="text-align: center">
          <em>tCO<sub>2</sub></em>
        </th>
      </tr>
      <tr>
        <th style="text-align: left">
          <em>EG<sub>PJ,y</sub></em>
        </th>
        <th style="text-align: left">
          <em>Electricity generated from the project in year y</em>
        </th>
        <th style="text-align: center"><em>Actual measurement</em></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"><em>MWh</em></th>
      </tr>
      <tr>
        <th style="text-align: left">
          <em>EF<sub>grid,y</sub></em>
        </th>
        <th style="text-align: left">
          <em>Grid emission factor in year y</em>
        </th>
        <th style="text-align: center"><em>TGO announcement</em></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"><em>tCO<sub>2</sub>/MWh</em></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>(add the row table by number of parameter of equation)</p>
  <p><strong>3.2 Calculation of project sequestration/emission</strong></p>
  <ul>
    <li>
      <p>The calculation equation is based on the methodology and tools</p>
    </li>
    <li>
      <p>
        If the project used methodology more than 1, please show calculation
        separate by applied methodology and tool.
      </p>
    </li>
  </ul>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 14%" />
      <col style="width: 40%" />
      <col style="width: 18%" />
      <col style="width: 12%" />
      <col style="width: 12%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="5">
          <strong>Code:</strong> &lt;Specify the code of methodology&gt;
        </th>
      </tr>
      <tr>
        <th colspan="5"><strong>Version:</strong> &lt;Specify version&gt;</th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Methodology/tool:</strong> &lt;Methodology name&gt;
        </th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Equation:</strong> &lt;Equation by applied methodology&gt;
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Parameter</strong></th>
        <th style="text-align: center"><strong>Meaning</strong></th>
        <th style="text-align: center"><strong>Ref.</strong></th>
        <th style="text-align: center"><strong>Value</strong></th>
        <th style="text-align: center"><strong>Unit</strong></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>(add the row table by number of parameter of equation)</p>
  <p><strong>3.3 Calculation of Leakage Emission</strong></p>
  <p>- The calculation equation is based on the methodology and tools.</p>
  <p>
    - In case more than one Methodology, the calculation shall be shown
    separately according to methodology. and calculation tools
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 13%" />
      <col style="width: 40%" />
      <col style="width: 18%" />
      <col style="width: 12%" />
      <col style="width: 13%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="5"><strong>Code:</strong> &lt;Specify the code&gt;</th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Version:</strong> &lt;Specify the version&gt;
        </th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Methodology/Tool :</strong> &lt;Specify the name of
          Methodology/Tool &gt;
        </th>
      </tr>
      <tr>
        <th colspan="5">
          <strong>Equation used:</strong> &lt;Specify the calculation
          equation&gt;
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Parameter</strong></th>
        <th style="text-align: center"><strong>meaning</strong></th>
        <th style="text-align: center"><strong>Ref.</strong></th>
        <th style="text-align: center"><strong>Value</strong></th>
        <th style="text-align: center"><strong>Unit</strong></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: left"></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>
    <strong>3.4 Summary of greenhouse gas emissions reduction</strong>
    (separated methodology)
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 13%" />
      <col style="width: 50%" />
      <col style="width: 17%" />
      <col style="width: 17%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="4"><strong>Code:</strong> &lt;Specify the code&gt;</th>
      </tr>
      <tr>
        <th colspan="4">
          <strong>Methodology :</strong> &lt;Specify the name of Methodology
          &gt;
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Parameter</strong></th>
        <th style="text-align: center"><strong>meaning</strong></th>
        <th style="text-align: center"><strong>Value</strong></th>
        <th style="text-align: center"><strong>Unit</strong></th>
      </tr>
      <tr>
        <th style="text-align: center">ER<sub>y</sub></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: center">BE<sub>y</sub></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: center">PE<sub>y</sub></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
      <tr>
        <th style="text-align: center">LE<sub>y</sub></th>
        <th style="text-align: left"></th>
        <th style="text-align: center"></th>
        <th style="text-align: center"></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p>(add table according to methodology used)</p>
  <p>
    The reporting of emission reductions (ERy) requires rounding down all
    decimal places. For example, if the calculated value is 27,020.56 tCO2eq,
    the reported value should be 27,020 tCO2eq.
  </p>
  <p>
    <strong>3.5 Summary of estimated greenhouse gas emission reductions</strong>
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 6%" />
      <col style="width: 26%" />
      <col style="width: 15%" />
      <col style="width: 16%" />
      <col style="width: 16%" />
      <col style="width: 17%" />
    </colgroup>
    <thead>
      <tr>
        <th style="text-align: center"><strong>Year</strong></th>
        <th style="text-align: center"><strong>d/m/y – d/m/y</strong></th>
        <th style="text-align: center">
          <strong
            >Baseline<br />
            Emission</strong
          >
        </th>
        <th style="text-align: center">
          <strong
            >Project<br />
            Emission</strong
          >
        </th>
        <th style="text-align: center"><strong>Leakage Emission</strong></th>
        <th style="text-align: center"><strong>Emission Reduction</strong></th>
      </tr>
      <tr>
        <th style="text-align: center">1</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">2</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">3</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">4</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">5</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">6</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">7</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">8</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">9</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th style="text-align: center">10</th>
        <th style="text-align: center"></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2" style="text-align: center">
          <strong
            >Total<br />
            (tCO<sub>2</sub>eq)</strong
          >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
      <tr>
        <th colspan="2" style="text-align: center">
          <strong
            >Average<br />
            (tCO<sub>2</sub>e/y)</strong
          >
        </th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 98%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Part 4 Monitoring of project</strong></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>4.1 Monitoring Plan</strong></p>
  <p>
    Describe the monitoring system and provide diagrams showing all monitoring
    points. This description may include data collection and quality control
    procedures (information flow including data generation, aggregation,
    recording, calculations and reporting), organizational
  </p>
  <p>structure, roles and responsibilities of personnel.</p>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 0.61875in" />
  </p>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 0.63056in" />
  </p>
  <p>
    <img src="media/image6.png" style="width: 4.66389in; height: 0.66389in" />
  </p>
  <p><strong>4.2 Parameters not monitored</strong></p>
  <p>
    Complete the table below for all data and parameters that are determined and
    remain fixed throughout the project crediting period (copy the table as
    necessary for each data/parameter).
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 28%" />
      <col style="width: 70%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Parameter</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Value applied</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Unit</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Meaning</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Source of data</strong></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>4.3 Monitored Parameters</strong></p>
  <p>
    Complete the table below for all data and parameters that will be monitored
    during the project crediting period (copy the table as necessary for each
    data/parameter).
  </p>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 28%" />
      <col style="width: 70%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Parameter</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Unit</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Meaning</strong></th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Source of data</strong></th>
        <th></th>
      </tr>
      <tr>
        <th>
          <strong
            >Description of measurement methods and procedures to be
            applied</strong
          >
        </th>
        <th></th>
      </tr>
      <tr>
        <th><strong>Frequency of monitoring/recording</strong></th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <table style="width: 99%">
    <colgroup>
      <col style="width: 98%" />
    </colgroup>
    <thead>
      <tr>
        <th><strong>Part 5 Local Stakeholder Consultation</strong></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
  <p><strong>5.1 Stakeholders consultation process</strong></p>
  <p>
    The project participants shall conduct a local stakeholder consultation
    according to TGO’s guideline in order to engage all stakeholders. The
    consultation is to obtain stakeholder opinions by disseminating the project
    information, arranging a meeting, or promoting communication with the local
    people through various channels. The procedure for conducting a local
    stakeholder consultation as well as a summary of the meeting results and
    comments shall be presented in this part, whereby a VVB will review the
    comments received and response actions during the validation process.
  </p>
  <p><strong>5.2 Summary of comments from stakeholders</strong></p>
  <p>
    Summary of the comments received from local stakeholders. Summarized as
    follows:
  </p>
  <ul>
    <li><p>Objectives of the meeting</p></li>
    <li><p>Date, time and place of public hearing</p></li>
    <li>
      <p>
        Details of stakeholders who have expressed their opinions such as
        gender, age, education level, occupation, etc.
      </p>
    </li>
    <li>
      <p>
        Summarize opinions received from questions or information that need to
        be heard.
      </p>
    </li>
  </ul>
  <p>
    <strong>5.3 Corrective actions for issues identified in section 5.2</strong>
  </p>
  <p>Summary of comments received and their consideration.</p>
  <p>
    Consider the comments provided by local stakeholders and report on how they
    have taken them into account, Identify the problem and developing
    alternative solution ideas.
  </p>
  <p><strong>Appendix 1</strong></p>
  <p>Additionality</p>
  <p><strong>Appendix 2</strong></p>
  <p>Stakeholder Consultation Summary Report for the Project</p>
  <p><strong>Appendix 3</strong></p>
  <p>Supporting documents/evidence</p>
  <table style="width: 100%">
    <colgroup>
      <col style="width: 10%" />
      <col style="width: 15%" />
      <col style="width: 21%" />
      <col style="width: 52%" />
    </colgroup>
    <thead>
      <tr>
        <th colspan="4" style="text-align: center">
          <strong>Revision History</strong>
        </th>
      </tr>
      <tr>
        <th style="text-align: center"><strong>Version</strong></th>
        <th style="text-align: center"><strong>Revisions No.</strong></th>
        <th style="text-align: center"><strong>Effective Date</strong></th>
        <th style="text-align: center"><strong>List of revision</strong></th>
      </tr>
      <tr>
        <th style="text-align: center">2.1</th>
        <th style="text-align: center">2</th>
        <th style="text-align: center">15 November 2024</th>
        <th style="text-align: left">
          <blockquote>
            <p>Revise the form’s title</p>
            <p>
              Revise the table for Summary of estimated greenhouse gas emission
              reductions
            </p>
          </blockquote>
        </th>
      </tr>
      <tr>
        <th style="text-align: center">2</th>
        <th style="text-align: center">1</th>
        <th style="text-align: center">1 February 2023 – 14 May 2025</th>
        <th style="text-align: left">
          <blockquote>
            <p>Revise the logo</p>
            <p>
              Add the section on the T-VER Methodology and Tools Selected under
              Project Details.
            </p>
          </blockquote>
        </th>
      </tr>
      <tr>
        <th style="text-align: center">1</th>
        <th style="text-align: center">-</th>
        <th style="text-align: center">10 January 2023</th>
        <th style="text-align: left">
          <blockquote>
            <p>-</p>
          </blockquote>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
